@import '../abstracts/variables';
@import '../abstracts/mixin';

.hero {
    background-image: url(../img/header/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #27262A;
    padding: 31px 6px;

    @media (min-width: 481px) {
        padding: 24px 10px 18px;
    }

    @media (min-width: 993px) {
        background: transparent;
        padding: 31px 80px;
    }
}

.header__inner {
    @include flex (space-between);

    @media (min-width: 481px) {
        display: grid;
        grid-template-areas: 
        "logo btn"
        "navs navs";
    }

    @media (min-width: 993px) {
        display: grid;
        grid-template-areas: 
        "logo logo logo logo navs btn";
    }
}

.header__logo {
    display: block;
    cursor: pointer;

    &-img {
        width: 43px; 
        height: 41px;
        background: url(../img/header/css_sprites.png);
        background-position: -73px -10px;
        transition: .1s;
    }

    @media (min-width: 481px) {
        @include flex;
        gap: 17px;
        grid-area: logo;

        &:hover {
            .header__logo-img {
                background: url(../img/header/css_sprites.png);
                background-position:-10px -10px;
            }
    
            .header__logo-text {
                color: $color-white;
            }
        }
    }
}

.header__logo-text {
    display: none;
    @media (min-width: 481px) {
        display: block;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        text-transform: uppercase;
        color: #8D81AC;
        transition: .3s;
    }
}

.header__btn {
    @media (min-width: 481px) {
        grid-area: btn;
        justify-self: end;
    }

    @media (min-width: 992px) { 
        grid-area: btn;
    }
}

.header__btn-menu-wrap {
    @media (min-width: 481px) {
        grid-area: navs;
    }
}

.header__btn-menu {
    display: block;
    width: 26px;
    height: 33px;
    position: relative;
    cursor: pointer;

    @media (min-width: 481px) {
        display: none;
    }
}

.header__line {
    width: 26px;
    height: 3px;
    border-radius: 5px;
    background-color: $color-white;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.header__line:nth-child(1) {
    width: 15px;
    left: 11px;
    top: 8px;
}

.header__line:nth-child(2) {
    top: 15px;
}

.header__line:nth-child(3) {
    top: 22px;
}

.header__btn-menu--open .header__line:nth-child(1) {
    display: none;
}

.header__btn-menu--open .header__line:nth-child(2) {
    transform: rotate(45deg);
    top: 16px;
}

.header__btn-menu--open .header__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 16px;
}

.header__nav {
    display: none;

    @media (min-width: 481px) {
        display: block;
    }
}

.header__nav--open {
    display: block;
    position: absolute;
    right: 14px;
    top: 83px;
    background-color: #333333;
    color: $color-white;
    z-index: 1;
}

.header__list {
    width: 292px;
    height: 355px;
    z-index: 1;

    @media (min-width: 481px) {
        @include flex (center);
        gap: 47px;
        margin-top: 23px;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 992px) { 
        @include flex;
        margin-top: 0;
        gap: 48px;
    }
}

.header__item {
    padding: 30px;

    @media (min-width: 481px) {
        padding: 0;
    }
}

.header__link {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: $color-white;
    position: relative;
    transition: .3s;

    &:hover {
        color: $color-white;
    }

    &:active {
        color: #8D81AC;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: -30px;
        height: 0;
        width: 8px;
        border-left: 3px;
        background-color:#8D81AC;;
        transition: .3s;
    }

    &:focus::before{
        height: 53px;
    }


    @media (min-width: 481px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #8D81AC;

        &:hover {
            color: $color-white;
        }
    }
}


.hero__content {
    padding: 50px 13px;
    text-align: center;
    position: relative;
    flex-grow: 1;

    &-caption {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 19px;
    }

    &-desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #8D81AC;
        margin-bottom: 14px;
    }

    &-info {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: #848E97;
    }

    &-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(0% - 56px);

        @media (min-width: 481px) {
            bottom: calc(0% - 65px);
        }
    }

    &-btn-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #848E97;
        padding-top: 19px;
    }

    @media (min-width: 481px) {
        padding: 69px 13px;

        &-caption {
            font-size: 72px;
            line-height: 72px;
        }

        &-desc {
            font-size: 24px;
        }
    }

    @media (min-width: 992px) { 
        &-caption {
            font-size: 82px;
            line-height: 82px;
        }

        &-desc {
            font-size: 30px;
            line-height: 30px;
        }

        &-info {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

